<div class="container">
    <div id="salesrep">
      <h2>Sales Representative List</h2>
    </div>

    <div id="performance">
      <div id="salesrepperformance">
        <h2>Rep of the month i m he resfjcccvddd</h2>
        <h2>Rep of the month i m he resfjcccvddd</h2>
        <h2>Rep of the month i m he resfjcccvddd</h2>
      </div>
      <div id="drugperformance">
        <h2>drug of the month</h2>
        <h2>drug of the month</h2>
        <h2>drug of the month</h2>

      </div>
    </div>
  </div>
