<h3>Sales Representative list</h3>

<input type="text" [(ngModel)]="searchText" (ngModelChange)="searchFunction()" placeholder="Enter name to search"/>

<select id="limitinput" #limit (change)="getLimit(limit)">
    <option value=10>10</option>
    <option value=20>20</option>
    <option value=30>30</option>
    <option value=40>40</option>
    <option value=50>50</option>
</select>

<button id="createnew" (click)="showCreateForm()">Create new record</button>

<br><br>

<table>
    <tr>
        <th *ngFor = "let column of headers">
            {{column}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </th>
    </tr>
    <tr *ngFor="let salesrep of salesRepData | paginate:{itemsPerPage:dataLimit,currentPage:currPage}">
        <td *ngFor="let column of index">
            {{salesrep[column]}}
        </td>
        <td><Button value={{salesrep.salesRepId}} #editdata (click)="showEditForm(editdata)">Edit record</Button></td>
        <td><Button value={{salesrep.salesRepId}} #deletedata (click)="deleteRecord(deletedata)">Delete record</Button>
        </td>
    </tr>
</table>
<div>
    <pagination-controls (pageChange)="currPage=$event"></pagination-controls>
</div>


<div *ngIf="openCreateForm">
<form #addSalesDataForm="ngForm" (ngSubmit)="addSalesData(addSalesDataForm.value)">
    <table>
    <tr><td>Id</td>
    <td><input type="text" name="salesRepId" ngModel></td></tr>
    <tr><td>Name</td>
    <td><input type="text" name="salesRepName" ngModel></td></tr>
    <tr><td>Country</td>
    <td><input type="text" name="country" ngModel></td></tr>
    <tr><td>City</td>
    <td><input type="text" name="city" ngModel></td></tr>
    <tr><td>Pincode</td>
    <td><input type="text" name="pinCode" ngModel></td></tr>
    <tr><td>Gender</td>
    <td><input type="text" name="gender" ngModel><br></td></tr>
    <tr><td></td>
    <td><Button type="submit">Create new record</Button></td></tr>
</table>
</form>
</div>

<div *ngIf="openEditForm">
    <form #editSalesDataForm="ngForm" (ngSubmit)="editSalesData(editSalesDataForm.value)">
        <table>
        <tr><td>Id</td>
        <td><input type="text" name="salesRepId" [(ngModel)]="salesRepId"></td></tr>
        <tr><td>Name</td>
        <td><input type="text" name="salesRepName" ngModel></td></tr>
        <tr><td>Country</td>
        <td><input type="text" name="country" ngModel></td></tr>
        <tr><td>City</td>
        <td><input type="text" name="city" ngModel></td></tr>
        <tr><td>Pincode</td>
        <td><input type="text" name="pinCode" ngModel></td></tr>
        <tr><td>Gender</td>
        <td><input type="text" name="gender" ngModel><br></td></tr>
        <tr><td></td>
        <td><Button type="submit">Edit record</Button></td></tr>
    </table>
    </form>
    </div>
